<launch>
  <arg name="scan_topic" default="/scan" />

  <!-- Which NAV configuration to launch. Options are:
       teb_local_planner, dwa_local_planner, base_local_planner -->
  <arg name="configuration" default="dwa_local_planner"/>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find herox_navigation)/maps/robco_v2_clean.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <arg name="initial_pose_x" default="0.0" />
  <arg name="initial_pose_y" default="0.0" />
  <arg name="initial_pose_a" default="0.0" />
  <include file="$(find herox_navigation)/launch/include/amcl.launch" >
    <arg name="scan_topic"     value="$(arg scan_topic)" />
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include>

  <!--- Run Move Base -->
  <include file="$(find herox_navigation)/launch/include/move_base.launch">
    <arg name="configuration" value="$(arg configuration)" />
  </include>

</launch>
